@import "navigation";
@import "root-styles";

.wrap {
    background: #fff;
}

.fluid-content {
    & > section.error-page-wrapper {
        width: 100%;
        max-width: 1530px;
        padding: 60px 20px;
        min-height: calc(100vh - 428px);
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;

        & > .title {
            .AspireFont;
            font-size: 36px;
            color: @secondColor;
            line-height: 1;
            width: 100%;
            text-align: left;
        }

        & > .bg-image {
            width: 75%;

            & > img {
                width: 100%;
                height: auto;
                object-fit: cover;
            }
        }
    }
}

@media screen and (max-width: 860px) {
    .fluid-content {
        display: flex;
        & > section.error-page-wrapper {
            padding: 20px 0;
            min-height: calc(100vh - 288px);

            & > .title {
                padding: 0 20px;
            }

            & > .bg-image {
                width: 100%;
            }
        }
    }
}
