@font-face {
  font-family: HelveticaNeueCyr;
  src: url("../fonts/HelveticaNeueCyr-Bold.ttf");
  src: url("../fonts/HelveticaNeueCyr-Roman.ttf");
}
@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SFProDisplay-Bold.ttf");
  src: url("../fonts/SFProDisplay-Regular.ttf");
}
@font-face {
  font-family: "Aspire";
  src: url("../fonts/AspireFont.ttf");
}
@font-face {
  font-family: "Android Robot";
  src: url("../fonts/ANDROIDROBOT.ttf");
}
.HelveticaNeueCyrBold {
  font-family: HelveticaNeueCyr;
  font-weight: bold;
}
.HelveticaNeueCyrRoman {
  font-family: HelveticaNeueCyr;
  font-weight: normal;
}
.SFProDisplayBold {
  font-family: "SF Pro Display";
  font-weight: bold;
}
.SFProDisplayRegular {
  font-family: "SF Pro Display";
  font-weight: normal;
}
.AspireFont {
  font-family: "Aspire";
  font-weight: normal;
}
.Android {
  font-family: "Android Robot";
  font-weight: normal;
}
.border-bottom-1px {
  border-bottom: 1px solid #e9edf0;
}
/*Nav Styles*/
header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
}
.navigation {
  width: 100%;
  height: 120px;
  background-color: #2f3c4f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column;
  padding: 12px 15px;
}
.nav-toggle-btn {
  width: 1.5rem;
  height: 1.5rem;
  background: url("../img/icons/menu-burger.svg") no-repeat center center;
  background-size: 100% 100%;
  border: 1px solid transparent;
  outline: none!important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.desktop-navigation-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.desktop-navigation-header > .logotype-box {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.desktop-navigation-header > .logotype-box > img.logotype {
  max-width: 50px;
  margin-right: 25px;
}
.desktop-navigation-header > .logotype-box > .logotype-text > .web-title {
  font-family: "Aspire";
  font-weight: normal;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  margin: 0;
}
.desktop-navigation-header > .logotype-box > .logotype-text > .web-sub-title {
  font-family: "SF Pro Display";
  font-weight: normal;
  color: #fff;
  font-size: 12px;
  margin: 0;
}
.desktop-navigation-header > .navigation-list-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.desktop-navigation-header > .navigation-list-box > .lang-switch-box > .lang-switch-list,
.desktop-navigation-header > .navigation-list-box > .navigation-header-list-box > .lang-switch-list,
.desktop-navigation-header > .navigation-list-box > .lang-switch-box > .navigation-header-list,
.desktop-navigation-header > .navigation-list-box > .navigation-header-list-box > .navigation-header-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
}
.desktop-navigation-header > .navigation-list-box > .lang-switch-box > .lang-switch-list > .lang-switch-item,
.desktop-navigation-header > .navigation-list-box > .navigation-header-list-box > .lang-switch-list > .lang-switch-item,
.desktop-navigation-header > .navigation-list-box > .lang-switch-box > .navigation-header-list > .lang-switch-item,
.desktop-navigation-header > .navigation-list-box > .navigation-header-list-box > .navigation-header-list > .lang-switch-item {
  font-family: HelveticaNeueCyr;
  font-weight: bold;
  font-size: 14px;
  color: #858585;
  text-transform: uppercase;
  padding: 0 5px;
  position: relative;
}
.desktop-navigation-header > .navigation-list-box > .lang-switch-box > .lang-switch-list > .lang-switch-item::after,
.desktop-navigation-header > .navigation-list-box > .navigation-header-list-box > .lang-switch-list > .lang-switch-item::after,
.desktop-navigation-header > .navigation-list-box > .lang-switch-box > .navigation-header-list > .lang-switch-item::after,
.desktop-navigation-header > .navigation-list-box > .navigation-header-list-box > .navigation-header-list > .lang-switch-item::after {
  content: '';
  width: 2px;
  height: 80%;
  background-color: #fff;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(75%, -50%);
  -moz-transform: translate(75%, -50%);
  -ms-transform: translate(75%, -50%);
  -o-transform: translate(75%, -50%);
  transform: translate(75%, -50%);
}
.desktop-navigation-header > .navigation-list-box > .lang-switch-box > .lang-switch-list > .lang-switch-item:hover,
.desktop-navigation-header > .navigation-list-box > .navigation-header-list-box > .lang-switch-list > .lang-switch-item:hover,
.desktop-navigation-header > .navigation-list-box > .lang-switch-box > .navigation-header-list > .lang-switch-item:hover,
.desktop-navigation-header > .navigation-list-box > .navigation-header-list-box > .navigation-header-list > .lang-switch-item:hover {
  cursor: pointer;
}
.desktop-navigation-header > .navigation-list-box > .lang-switch-box > .lang-switch-list > .lang-switch-item.active,
.desktop-navigation-header > .navigation-list-box > .navigation-header-list-box > .lang-switch-list > .lang-switch-item.active,
.desktop-navigation-header > .navigation-list-box > .lang-switch-box > .navigation-header-list > .lang-switch-item.active,
.desktop-navigation-header > .navigation-list-box > .navigation-header-list-box > .navigation-header-list > .lang-switch-item.active {
  color: #fff;
}
.desktop-navigation-header > .navigation-list-box > .lang-switch-box > .lang-switch-list > .lang-switch-item:last-child::after,
.desktop-navigation-header > .navigation-list-box > .navigation-header-list-box > .lang-switch-list > .lang-switch-item:last-child::after,
.desktop-navigation-header > .navigation-list-box > .lang-switch-box > .navigation-header-list > .lang-switch-item:last-child::after,
.desktop-navigation-header > .navigation-list-box > .navigation-header-list-box > .navigation-header-list > .lang-switch-item:last-child::after {
  content: none;
}
.desktop-navigation-header > .navigation-list-box > .lang-switch-box > .lang-switch-list > .navigation-header-item,
.desktop-navigation-header > .navigation-list-box > .navigation-header-list-box > .lang-switch-list > .navigation-header-item,
.desktop-navigation-header > .navigation-list-box > .lang-switch-box > .navigation-header-list > .navigation-header-item,
.desktop-navigation-header > .navigation-list-box > .navigation-header-list-box > .navigation-header-list > .navigation-header-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 14px;
}
.desktop-navigation-header > .navigation-list-box > .lang-switch-box > .lang-switch-list > .navigation-header-item:last-child,
.desktop-navigation-header > .navigation-list-box > .navigation-header-list-box > .lang-switch-list > .navigation-header-item:last-child,
.desktop-navigation-header > .navigation-list-box > .lang-switch-box > .navigation-header-list > .navigation-header-item:last-child,
.desktop-navigation-header > .navigation-list-box > .navigation-header-list-box > .navigation-header-list > .navigation-header-item:last-child {
  margin-right: 0;
}
.desktop-navigation-header > .navigation-list-box > .lang-switch-box > .lang-switch-list > .navigation-header-item > .nav-link,
.desktop-navigation-header > .navigation-list-box > .navigation-header-list-box > .lang-switch-list > .navigation-header-item > .nav-link,
.desktop-navigation-header > .navigation-list-box > .lang-switch-box > .navigation-header-list > .navigation-header-item > .nav-link,
.desktop-navigation-header > .navigation-list-box > .navigation-header-list-box > .navigation-header-list > .navigation-header-item > .nav-link {
  padding: 0;
  color: #fff;
  font-family: HelveticaNeueCyr;
  font-weight: normal;
  font-size: 14px;
}
.navigation-links {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation-links > .desktop-menu-btn-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 45px;
}
.navigation-links > .desktop-menu-btn-box > .desktop-menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 255px;
  height: 35px;
  background-color: #fff;
  font-family: HelveticaNeueCyr;
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.navigation-links > .navigation-search {
  width: 100%;
}
.navigation-links > .navigation-search > form {
  width: 100%;
  position: relative;
}
.navigation-links > .navigation-search > form > .form-row {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.navigation-links > .navigation-search > form > .form-row > input {
  width: calc(100% - 35px);
  height: 35px;
  border: none;
  background-color: #fff;
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
}
.navigation-links > .navigation-search > form > .form-row > button[type=submit] {
  height: 35px;
  width: 35px;
  background-color: #51c878;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
  position: relative;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: none;
}
.navigation-links > .navigation-search > form > .form-row > button[type=submit]::after {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background: url("../img/icons/search.svg") no-repeat center center;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.navigation-links > .navigation-search > form > .form-row > button[type=reset] {
  width: 13px;
  height: 13px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  position: absolute;
  top: 45%;
  right: 55px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.navigation-links > .navigation-list {
  display: flex;
  list-style: none;
  margin-bottom: 0;
}
.navigation-item {
  margin: 0 17px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation-item:last-child {
  margin: 0 0 0 17px;
}
.navigation-item > .nav-link {
  width: 25px;
  height: 25px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation-item > .nav-link > svg {
  height: 25px;
  stroke: #fff;
  transition: 0.5s;
}
.navigation-item > .nav-link.active > svg {
  stroke: #51c878;
  -webkit-transform: scale(1.4);
  -moz-transform: scale(1.4);
  -ms-transform: scale(1.4);
  -o-transform: scale(1.4);
  transform: scale(1.4);
  -webkit-filter: drop-shadow(0px 0px 2px #51c878);
  filter: drop-shadow(0px 0px 2px #51c878);
}
.navigation-item > .nav-link#cart {
  position: relative;
}
.navigation-item > .nav-link#cart.active > span {
  display: none;
}
.navigation-item > .nav-link#heart {
  position: relative;
}
.navigation-item > .nav-link#heart.active > span {
  display: none;
}
.navigation-item > .nav-link#cart > .cart-counter,
.navigation-item > .nav-link#heart > .heart-counter {
  position: absolute;
  right: -10px;
  top: -5px;
  height: 15px;
  width: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #51c878;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  font-family: "SF Pro Display";
  font-weight: bold;
  font-size: 12px;
  color: #fff;
}
.navigation-item.nav-dropdown {
  position: relative;
  padding: 10px;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.navigation-item.nav-dropdown > .nav-link {
  width: 100%;
  font-family: HelveticaNeueCyr;
  font-weight: bold;
  font-size: 16px;
  color: #fff;
  position: relative;
  padding-right: 25px;
}
.navigation-item.nav-dropdown > .nav-link > svg {
  stroke: #fff;
  margin-right: 15px;
}
.navigation-item.nav-dropdown > .nav-link::after {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background: url("../img/icons/chevron-right-white.svg") no-repeat center center;
  background-size: cover;
  position: absolute;
  margin-left: 10px;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(90deg);
  -moz-transform: translateY(-50%) rotate(90deg);
  -ms-transform: translateY(-50%) rotate(90deg);
  -o-transform: translateY(-50%) rotate(90deg);
  transform: translateY(-50%) rotate(90deg);
}
.navigation-item.nav-dropdown > .dropdown {
  width: 100%;
  height: auto;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 45px;
  background: #fff;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.navigation-item.nav-dropdown > .dropdown > .dropdown-link {
  margin: 10px 0;
  font-family: HelveticaNeueCyr;
  font-weight: bold;
  font-size: 16px;
  color: #000;
  display: flex;
  justify-content: flex-end;
  padding-right: 35px;
}
.navigation-item.nav-dropdown > .dropdown > .dropdown-link:first-child {
  margin-top: 0px;
}
.navigation-item.nav-dropdown:hover {
  background: #fff;
}
.navigation-item.nav-dropdown:hover > .dropdown {
  opacity: 1;
}
.navigation-item.nav-dropdown:hover > .nav-link {
  color: #000;
}
.navigation-item.nav-dropdown:hover > .nav-link::after {
  background: url("../img/icons/chevron-right-black.svg") no-repeat center center;
  -webkit-transform: translateY(-50%) rotate(-90deg);
  -moz-transform: translateY(-50%) rotate(-90deg);
  -ms-transform: translateY(-50%) rotate(-90deg);
  -o-transform: translateY(-50%) rotate(-90deg);
  transform: translateY(-50%) rotate(-90deg);
}
.navigation-item.nav-dropdown:hover > .nav-link > svg {
  stroke: #51c878;
}
.navigation-collapse {
  position: absolute;
  top: 0;
  left: -320px;
  width: 280px;
  background: #fff;
  height: 100%;
  -webkit-box-shadow: -5px 0px 10px 15px rgba(255, 255, 255, 0.2);
  -moz-box-shadow: -5px 0px 10px 15px rgba(255, 255, 255, 0.2);
  box-shadow: -5px 0px 10px 15px rgba(255, 255, 255, 0.2);
}
.navigation-collapse-close-btn {
  position: absolute;
  height: 20px;
  width: 20px;
  background: url("../img/icons/x.svg") no-repeat center center;
  -webkit-background-size: cover;
  background-size: cover;
  top: 25px;
  right: -30px;
}
.navigation-collapse-wrap {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  background-color: rgba(47, 60, 79, 0.85);
  display: none;
}
.navigation-collapse-header {
  background: #e9edf0;
  -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
  padding: 15px 25px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.navigation-collapse-header > h1 {
  font-size: 20px;
  color: #2f3c4f;
  margin: 0 0 0 20px;
  text-transform: uppercase;
  font-family: "Aspire";
  font-weight: normal;
}
.navigation-collapse-header .lang {
  position: absolute;
  right: 5px;
  top: 5px;
}
.navigation-collapse-header .lang .lang-list {
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation-collapse-header .lang .lang-list .lang-item .lang-link {
  text-transform: uppercase;
  font-size: 12px;
  color: #858585;
  font-family: "SF Pro Display";
  font-weight: normal;
  border-right: 1px solid #000;
  padding: 0 5px;
}
.navigation-collapse-header .lang .lang-list .lang-item:last-child .lang-link {
  border: none;
}
.navigation-collapse-header .lang .lang-list .lang-item .lang-link.active {
  color: #5489d7;
}
.navigation-collapse-list {
  list-style-type: none;
  padding: 12px 0;
  position: relative;
}
.navigation-collapse-list-item {
  display: flex;
  justify-content: flex-start;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  align-items: center;
}
.navigation-collapse-list-item:hover,
.navigation-collapse-list-item.active {
  background-color: rgba(81, 200, 120, 0.5);
  cursor: pointer;
}
.navigation-collapse-list-item:hover .navigation-collapse-list-link {
  font-family: HelveticaNeueCyr;
  font-weight: bold;
}
.navigation-collapse-list-item:nth-child(4),
.navigation-collapse-list-item:nth-child(7) {
  border-bottom: 1px solid #e9edf0;
}
.navigation-collapse-list-icon {
  height: 20px;
  width: 20px;
  stroke: #858585;
  margin-right: 20px;
}
.navigation-collapse-list-icon[data-name=catalog] {
  stroke: #5489d7;
}
.navigation-collapse-list-icon[data-name=cart] {
  stroke: #51c878;
}
.navigation-collapse-list-link {
  width: 100%;
  height: 100%;
  color: #000 !important;
  font-family: HelveticaNeueCyr;
  font-weight: normal;
  font-size: 14px;
  text-decoration: none!important;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 12px 25px;
}
.navigation-collapse-footer {
  padding: 15px;
  position: absolute;
  width: 100%;
  bottom: 0;
}
.navigation-collapse-footer .row {
  margin: 0;
}
.navigation-collapse-footer .mobile-app-item {
  padding: 8px 5px;
  text-decoration: none!important;
}
.navigation-collapse-footer .mobile-app-item img {
  height: 20px;
  width: 20px;
  margin-right: 5px;
}
.navigation-collapse-footer-social {
  margin-top: 20px;
  margin-bottom: 25px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.navigation-collapse-footer-social img {
  filter: brightness(0.7);
  margin-right: 15px;
}
.mobile-app-wrap {
  position: relative;
  padding: 0;
}
.mobile-app-wrap > .dummy {
  margin-top: 46px;
}
.mobile-app-item {
  background: #fff;
  margin: 3px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 15px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}
.mobile-app-item {
  flex-flow: row;
  padding: 8px 15px;
}
.mobile-app-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mobile-app-item .mobile-app-icon {
  height: 30px;
  width: 30px;
  margin-right: 12px;
}
.mobile-app-title {
  text-align: left;
  color: #000;
  display: flex;
  flex-flow: column-reverse;
}
.mobile-app-title > p {
  font-size: 8px;
  margin: 0;
}
.mobile-app-title > h3 {
  font-size: 14px;
  margin: 0;
}
/*Sub-navigation*/
.sub-navigation-collapse {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  z-index: 20;
  background: #fff;
  display: none;
}
.go-back-btn {
  padding: 12px 25px;
  border-bottom: 1px solid #e9edf0;
  font-family: HelveticaNeueCyr;
  font-weight: normal;
  font-size: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.go-back-btn::before {
  content: url("../img/icons/arrow-left.svg");
  display: block;
  height: 24px;
  margin-right: 10px;
}
.go-back-btn > span {
  padding-left: 10px;
  border-left: 1px solid #e9edf0;
}
.sub-navigation-collapse-list {
  list-style-type: none;
  width: 100%;
  height: 100%;
  padding: 12px 0;
}
.sub-navigation-collapse-item {
  display: flex;
  justify-content: flex-start;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  align-items: center;
}
.sub-navigation-collapse-item:hover,
.sub-navigation-collapse-item.active {
  background-color: rgba(81, 200, 120, 0.5);
  cursor: pointer;
}
.sub-navigation-collapse-item:hover .navigation-collapse-list-link {
  font-family: HelveticaNeueCyr;
  font-weight: bold;
}
.sub-navigation-collapse-item:nth-child(4),
.sub-navigation-collapse-item:nth-child(7) {
  border-bottom: 1px solid #e9edf0;
}
.sub-navigation-collapse-item.sub-navigation-collapse-item-with-icon::after {
  content: '';
  height: 24px;
  width: 24px;
  background: url("../img/icons/chevron-right.svg") no-repeat center center;
  -webkit-background-size: cover;
  background-size: cover;
  margin-left: auto;
}
.sub-navigation-collapse-list-icon {
  height: 20px;
  width: 20px;
  stroke: #858585;
  margin-right: 20px;
}
.sub-navigation-collapse-list-icon[data-name=catalog] {
  stroke: #5489d7;
}
.sub-navigation-collapse-list-icon[data-name=cart] {
  stroke: #51c878;
}
.sub-navigation-collapse-list-link {
  width: 100%;
  height: 100%;
  color: #000 !important;
  font-family: HelveticaNeueCyr;
  font-weight: normal;
  font-size: 14px;
  text-decoration: none!important;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 12px 25px;
}
.sub-navigation-collapse-list-link:hover {
  font-family: HelveticaNeueCyr;
  font-weight: bold;
}
.sub-navigation-more-icon {
  stroke: #5489d7;
  margin-left: auto;
}
/*Search, cart, contacts collapse*/
.search-collapse,
.cart-collapse,
.contacts-collapse,
.wish-list-collapse,
.comparison-collapse {
  right: -320px;
  position: absolute;
  top: 0;
  left: -320px;
  width: 280px;
  background: #fff;
  height: 100%;
  -webkit-box-shadow: -5px 0px 10px 15px rgba(255, 255, 255, 0.2);
  -moz-box-shadow: -5px 0px 10px 15px rgba(255, 255, 255, 0.2);
  box-shadow: -5px 0px 10px 15px rgba(255, 255, 255, 0.2);
  left: unset!important;
  -webkit-box-shadow: 0px 10px 15px 7px rgba(255, 255, 255, 0.2);
  -moz-box-shadow: 0px 10px 15px 7px rgba(255, 255, 255, 0.2);
  box-shadow: 0px 10px 15px 7px rgba(255, 255, 255, 0.2);
  height: calc(100% - 120px);
}
.search-collapse.wish-list-collapse,
.cart-collapse.wish-list-collapse,
.contacts-collapse.wish-list-collapse,
.wish-list-collapse.wish-list-collapse,
.comparison-collapse.wish-list-collapse,
.search-collapse.comparison-collapse,
.cart-collapse.comparison-collapse,
.contacts-collapse.comparison-collapse,
.wish-list-collapse.comparison-collapse,
.comparison-collapse.comparison-collapse {
  width: 100%;
  right: -110%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column;
}
.search-collapse-header,
.cart-collapse-header,
.contacts-collapse-header,
.wish-list-collapse-header,
.comparison-collapse-header {
  width: 100%;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #e9edf0;
  -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
}
.search-collapse-header > a,
.cart-collapse-header > a,
.contacts-collapse-header > a,
.wish-list-collapse-header > a,
.comparison-collapse-header > a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  background: url("../img/icons/x.svg") no-repeat center center;
  background-size: cover;
  height: 12px;
  width: 12px;
}
.search-collapse-header > div,
.cart-collapse-header > div,
.contacts-collapse-header > div,
.wish-list-collapse-header > div,
.comparison-collapse-header > div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.search-collapse-header > div > a,
.cart-collapse-header > div > a,
.contacts-collapse-header > div > a,
.wish-list-collapse-header > div > a,
.comparison-collapse-header > div > a {
  height: 24px;
  width: 24px;
  background: url('../img/icons/arrow-left.svg') no-repeat center center;
  background-size: cover;
}
.search-collapse-header > div > h2,
.cart-collapse-header > div > h2,
.contacts-collapse-header > div > h2,
.wish-list-collapse-header > div > h2,
.comparison-collapse-header > div > h2 {
  font-family: HelveticaNeueCyr;
  font-weight: bold;
  font-size: 16px;
  color: #000;
  margin: 0 0 0 10px;
}
.search-collapse-header > div > span,
.cart-collapse-header > div > span,
.contacts-collapse-header > div > span,
.wish-list-collapse-header > div > span,
.comparison-collapse-header > div > span {
  font-family: HelveticaNeueCyr;
  font-weight: normal;
}
.search-collapse-header form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 10px;
  width: 100%;
}
.search-collapse-header form input {
  height: 30px;
  width: 100%;
  border: 1px solid #858585;
  -webkit-border-radius: 10px 0 0 10px;
  -moz-border-radius: 10px 0 0 10px;
  border-radius: 10px 0 0 10px;
  background: #fff;
  border-right: none;
  padding: 0 8px;
  font-family: "SF Pro Display";
  font-weight: normal;
  color: #000;
  font-size: 12px;
}
.search-collapse-header form button {
  background: transparent;
  border: 1px solid #858585;
  padding: 8px;
  background: #ffffff;
  display: flex;
  border-left: none;
  -webkit-border-radius: 0 10px 10px 0;
  -moz-border-radius: 0 10px 10px 0;
  border-radius: 0 10px 10px 0;
  outline: none;
}
.search-collapse-header form button:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.search-collapse-header form button svg {
  height: 12px;
  width: 12px;
}
.search-result {
  width: 100%;
  height: 100%;
  padding: 0 15px;
  overflow: auto;
}
.search-result .result-item-wrap {
  width: 100%;
}
.search-result .result-item-wrap .result-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 15px;
}
.search-result .result-item-wrap .result-item .result-item-shortcut {
  min-width: 35px;
  min-height: 35px;
  max-height: 35px;
  max-width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-result .result-item-wrap .result-item .result-item-info {
  margin-left: 10px;
}
.search-result .result-item-wrap .result-item .result-item-info h2 {
  color: #000;
  font-family: "SF Pro Display";
  font-weight: normal;
  font-size: 10px;
  margin: 0 0 5px;
}
.search-result .result-item-wrap .result-item .result-item-info p {
  color: #000;
  font-family: "SF Pro Display";
  font-weight: bold;
  font-size: 12px;
  margin: 0;
}
.search-result .result-item-wrap .result-item .result-item-info p span {
  color: #858585;
  font-family: "SF Pro Display";
  font-weight: normal;
  font-size: 12px;
  text-decoration: line-through;
  margin-left: 20px;
}
/*Cart Styles*/
.cart-body {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: calc(100vh - 120px - 44px);
}
.cart-body .row {
  margin: 0;
}
.cart-item-wrap {
  position: relative;
  width: 100%;
  padding: 15px;
  border-bottom: 1px solid #e9edf0;
}
.cart-position {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
.description-pos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0!important;
}
.position-shortcut-icon {
  padding: 0;
}
.position-title {
  font-family: "SF Pro Display";
  font-weight: normal;
  font-size: 14px;
  color: #000000;
  padding: 0 20px;
  margin: 0;
}
.delete-position-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  height: 20px;
  margin: 0;
}
.delete-position-btn svg {
  height: 100%;
}
.details-pos {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-top: 10px;
}
.price-by-one {
  text-align: left;
  padding: 10px 0;
}
.price-by-one h3 {
  margin: 0;
  font-family: "SF Pro Display";
  font-weight: normal;
  font-size: 12px;
  color: #000;
}
.price-by-one p {
  margin: 0;
  font-family: "SF Pro Display";
  font-weight: normal;
  font-size: 10px;
  color: #858585;
}
.switchers-count {
  display: flex;
  justify-content: center;
  align-items: center;
}
.switchers-count .switchers-count-btn {
  font-family: "SF Pro Display";
  font-weight: bold;
  font-size: 14px;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 25px;
  border: 1px solid #e9edf0;
  border-radius: 0 2px 2px 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.switchers-count .switchers-count-btn[data-do="remove"] {
  font-weight: normal;
  color: #858585;
  border-radius: 2px 0 0 2px;
}
.switchers-count .switchers-count-btn.switchers-count-btn:hover {
  cursor: pointer;
}
.switchers-count .count {
  margin: 0;
  font-family: "SF Pro Display";
  font-weight: normal;
  font-size: 14px;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 25px;
  border-bottom: 1px solid #e9edf0;
  border-top: 1px solid #e9edf0;
}
.price-total {
  text-align: right;
  padding: 10px 0;
}
.price-total h3 {
  margin: 0;
  font-family: "SF Pro Display";
  font-weight: bold;
  font-size: 14px;
  color: #000;
  background-color: #d6f3db;
}
.price-total p {
  margin: 0;
  font-family: "SF Pro Display";
  font-weight: normal;
  font-size: 10px;
  color: #858585;
}
.cart-total-price {
  width: 100%;
  padding: 30px 15px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.cart-total-price > h2 {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: start;
  font-family: "SF Pro Display";
  font-weight: bold;
  font-size: 16px;
  color: #000000;
  margin: 0;
}
.cart-total-price > h2 > span {
  font-size: 12px;
  color: #858585;
}
.cart-total-price > h3 {
  font-family: "SF Pro Display";
  font-weight: bold;
  font-size: 22px;
  color: #000000;
  margin: 0;
}
.cart-controls {
  padding: 0 15px;
  width: 100%;
}
.cart-controls > .cart-control-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 5px 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  height: 40px;
  font-size: 16px;
  text-decoration: none!important;
  text-transform: uppercase;
}
.cart-controls > .cart-control-btn.confirm-order {
  background: #51c878;
  font-family: HelveticaNeueCyr;
  font-weight: bold;
  color: #fff;
  border: 1px solid #51c878;
}
.cart-controls > .cart-control-btn.continue-shopping {
  background: transparent;
  border: 1px solid #5489d7;
  font-family: HelveticaNeueCyr;
  font-weight: normal;
  color: #5489d7;
}
/*Contacts Styles*/
.contacts-body {
  padding: 10px 15px;
  height: auto;
  overflow-y: auto;
  max-height: calc(100vh - 84px);
}
.contacts-position-info {
  width: 100%;
  text-align: left;
  margin: 0px;
  padding: 10px 0;
  display: flex;
  flex-flow: column;
  border-bottom: 1px solid #e9edf0;
}
.contacts-position-info > .row {
  margin: 0;
}
.contacts-position-info:last-child {
  border-bottom: 0;
  margin-bottom: 0;
}
.contacts-position-info > h3 {
  font-family: "SF Pro Display";
  font-weight: bold;
  font-size: 14px;
  color: #000;
  text-align: left;
}
.contacts-position-info > a {
  font-family: "SF Pro Display";
  font-weight: normal;
  color: #5489d7;
  text-decoration: none!important;
  font-size: 12px;
  display: block;
}
.contacts-position-info > p.margin {
  margin-bottom: 15px;
}
.contacts-position-info > .contact-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.contacts-position-info > .contact-row > p {
  font-family: "SF Pro Display";
  font-weight: bold;
  font-size: 16px;
  color: #000;
  margin: 0;
}
.contacts-position-info > .contact-row > a {
  font-family: "SF Pro Display";
  font-weight: normal;
  color: #5489d7;
  text-decoration: none!important;
  font-size: 14px;
  display: block;
}
.contacts-position-info > .contact-row > .contact {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.contacts-position-info > .contact-row > .contact > img {
  width: 25px;
  height: auto;
  margin-right: 10px;
}
.contacts-position-info > .contact-row > .contact > p {
  font-family: "SF Pro Display";
  font-weight: normal;
  font-size: 16px;
  margin: 0;
}
.contacts-position-info > .contact-row > .contact > p.telegram {
  color: #0088cc;
}
.contacts-position-info > .contact-row > .contact > p.viber {
  color: #8f5db7;
}
.contacts-position-info .mobile-app-item {
  padding: 8px 3px;
}
.contacts-position-info .mobile-app-item > .mobile-app-icon {
  margin-right: 5px;
}
.contacts-position-info > form {
  width: 100%;
}
.contacts-position-info > form > input,
.contacts-position-info > form > textarea {
  border: 1px solid #858585;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-family: "SF Pro Display";
  font-weight: normal;
  font-size: 12px;
  color: #000;
  width: 100%;
  resize: none;
  padding: 5px 10px;
  margin-bottom: 10px;
}
.contacts-position-info > form > textarea {
  height: 60px;
}
.contacts-position-info > form > button {
  background: #51c878;
  color: #fff;
  font-family: HelveticaNeueCyr;
  font-weight: bold;
  font-size: 16px;
  width: 120px;
  height: 35px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: none!important;
  border: none!important;
}
.contacts-position-info > .go-to-page {
  font-family: "SF Pro Display";
  font-weight: normal;
  font-size: 12px;
  color: #5489d7;
  text-decoration: none!important;
}
.contacts-position-info > .socials {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 15px;
}
.contacts-position-info > .socials > a {
  display: block;
  width: 25px;
  height: 25px;
  margin: 0 5px;
}
.contacts-position-info > .socials > a:first-child {
  margin-left: 0px;
}
.contacts-position-info > .socials > a:last-child {
  margin-right: 0px;
}
.contacts-position-info > .socials > a > img {
  filter: brightness(0.7);
  width: 100%;
  height: auto;
}
.contacts-position-info > .socials .mobile-app-title > h3 {
  font-size: 12px;
}
.contacts-position-info.border-none {
  border: none;
}
/*WishList and comparison Styles*/
.wish-list-form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-flow: column;
  position: relative;
}
.wish-list-body,
.comparison-collapse-body {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 0 15px 25px 15px;
}
.wish-list-item {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 15px 0;
  border-bottom: 1px solid #e9edf0;
  position: relative;
}
.wish-list-item > .wish-list-item-info {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding: 20px 0px;
}
.wish-list-item > .wish-list-item-info > .wish-img {
  width: 50px;
  min-width: 50px;
  height: 50px;
  min-height: 50px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.wish-list-item > .wish-list-item-info > .wish-img > img {
  width: 100%;
  height: auto;
}
.wish-list-item > .wish-list-item-info > .wish-details {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
}
.wish-list-item > .wish-list-item-info > .wish-details > h2 {
  font-size: 12px;
  font-family: "SF Pro Display";
  font-weight: normal;
  color: #2c3138;
  margin-bottom: 10px;
}
.wish-list-item > .wish-list-item-info > .wish-details > .price {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.wish-list-item > .wish-list-item-info > .wish-details > .price > h3 {
  font-family: "SF Pro Display";
  font-weight: bold;
  font-size: 14px;
  color: #000;
  margin: 0 15px 0 0;
}
.wish-list-item > .wish-list-item-info > .wish-details > .price > h4 {
  font-family: "SF Pro Display";
  font-weight: normal;
  font-size: 12px;
  color: #858585;
  margin: 0;
  text-decoration: line-through;
}
.wish-list-item > .wish-list-item-info > a.delete-wish-pos-btn {
  display: block;
  height: 15px;
  width: 15px;
  position: absolute;
  right: 0;
  top: 0;
  background: url("../img/icons/trash.svg") no-repeat center center;
  background-size: cover;
  margin-bottom: 10px;
}
.wish-list-item > .wish-list-item-info > a.add-wish-pos-to-cart {
  display: block;
  height: 28px;
  width: 28px;
  position: absolute;
  right: 0;
  bottom: 15px;
  background-color: #51c878;
  padding: 5px;
  border: 1px solid transparent;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.wish-list-item > .wish-list-item-info > a.add-wish-pos-to-cart::before {
  content: '';
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../img/icons/cart.svg") no-repeat center center;
  background-size: cover;
}
.wish-list-item > .wish-list-item-info > a.add-wish-pos-to-cart.active {
  border: 1px solid #51c878;
  background: #FFFFFF;
}
.wish-list-item > .wish-list-item-info > a.add-wish-pos-to-cart.active::before {
  background: url("../img/icons/shopping-cart-sale-green.svg") no-repeat center center;
}
.wish-list-item .form-check {
  padding: 0;
}
.wish-list-item .form-check input[type="checkbox"] {
  opacity: 0;
}
.wish-list-item .form-check input[type="checkbox"] + label::after {
  content: none;
}
.wish-list-item .form-check input[type="checkbox"] + label:hover {
  cursor: pointer;
}
.wish-list-item .form-check input[type="checkbox"]:checked + label::after {
  content: '';
}
.wish-list-item .form-check input[type="checkbox"]:checked + label::before {
  border: 1px solid #5489d7;
}
.wish-list-item .form-check input[type="checkbox"]:focus + label::before {
  outline: none;
  border: 1px solid #5489d7;
}
.wish-list-item .form-check label {
  font-family: "SF Pro Display";
  font-weight: normal;
  display: block;
  height: 20px;
  width: 20px;
  font-size: 12px;
  color: #000;
  position: relative;
  display: inline-block;
  padding-left: 32px;
}
.wish-list-item .form-check label::before,
.wish-list-item .form-check label::after {
  position: absolute;
  content: "";
  display: inline-block;
}
.wish-list-item .form-check label::before {
  height: 20px;
  width: 20px;
  border: 1px solid #858585;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  left: 0px;
}
.wish-list-item .form-check label::after {
  height: 7px;
  width: 14px;
  border-left: 2px solid #5489d7;
  border-bottom: 2px solid #5489d7;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  left: 3px;
  top: 5px;
}
.wish-list-footer {
  width: 100%;
  padding: 10px 15px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  background: #fff;
  position: sticky;
  bottom: 0;
  left: 0;
}
.wish-list-footer > .row {
  margin: 0;
  justify-content: space-between;
}
.wish-list-footer > .row > .wish-control {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 30px;
  font-family: HelveticaNeueCyr;
  font-weight: bold;
  font-size: 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 0;
  opacity: 0.6;
}
.wish-list-footer > .row > .wish-control#toCart {
  color: #51c878;
  border: 1px solid #51c878;
}
.wish-list-footer > .row > .wish-control#toCompare {
  color: #5489d7;
  border: 1px solid #5489d7;
}
.wish-list-footer > .row > .wish-control#toDelete {
  color: #858585;
  border: 1px solid #858585;
}
.wish-list-footer.selected > .row > .wish-control {
  opacity: 1;
}
.comparison-collapse-body {
  padding: 0;
  overflow: auto;
}
.comparison-collapse-body > table {
  width: auto;
  height: 100%;
}
.comparison-collapse-body > table > tbody > tr {
  position: relative;
  display: block;
}
.comparison-collapse-body > table > tbody > tr > td {
  min-height: 100px;
  height: 100px;
  min-width: 80px;
  max-width: 80px;
  width: 80px;
  padding: 0;
  position: relative;
  z-index: 10;
  border-bottom: 1px solid #e9edf0;
  background: #fbfbfc;
  position: sticky;
  left: 0;
  top: 0;
}
.comparison-collapse-body > table > tbody > tr > td::after {
  content: '';
  border-right: 1px solid #e9edf0;
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  height: 80%;
}
.comparison-collapse-body > table > tbody > tr > td > h2 {
  font-family: "SF Pro Display";
  font-weight: normal;
  font-size: 10px;
  text-align: center;
}
.comparison-collapse-body > table > tbody > tr > td > h2 > a {
  text-decoration: none!important;
  color: #2c3138 !important;
}
.comparison-collapse-body > table > tbody > tr > td:first-child > h2 {
  padding: 20px 5px 0 5px;
  margin-top: 5px;
}
.comparison-collapse-body > table > tbody > tr > td > img {
  width: 40%;
  height: auto;
  max-height: 50px;
  margin-left: 20px;
}
.comparison-collapse-body > table > tbody > tr > td > a.comparison-del-pos-btn {
  height: 15px;
  width: 15px;
  display: block;
  background: url("../img/icons/trash.svg") no-repeat center center;
  background-size: cover;
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 100;
}
.comparison-collapse-body > table > tbody > tr > td > h3 {
  font-family: "SF Pro Display";
  font-weight: bold;
  font-size: 12px;
  color: #000;
  text-align: right;
  padding: 0 5px 10px 0px;
  margin: -10px 0 0 0;
}
.comparison-collapse-body > table > tbody > tr > td:first-child {
  min-width: 120px;
  max-width: 120px;
  width: 120px;
  background: #fff;
  z-index: 20;
  border-bottom: none;
}
.comparison-collapse-body > table > tbody > tr > td:first-child::after {
  border: none;
  height: 110%;
  width: 15px;
  -webkit-box-shadow: 8px 0px 5px -5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 8px 0px 5px -5px rgba(0, 0, 0, 0.15);
  box-shadow: 8px 0px 5px -5px rgba(0, 0, 0, 0.15);
  z-index: 40;
}
.comparison-collapse-body > table > tbody > tr > td:first-child::before {
  content: '';
  display: block;
  border-bottom: 1px solid #e9edf0;
  position: absolute;
  top: -1px;
  width: 90%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
.comparison-collapse-body > table > tbody > tr > td:first-child > h2 {
  font-size: 12px;
}
.comparison-collapse-body > table > tbody > tr:first-child > td {
  min-height: 50px;
  max-height: 50px;
  height: 50px;
  background: #fff;
}
.comparison-collapse-body > table > tbody > tr:first-child > td > h2 {
  padding: 0;
  margin-top: 0;
}
.comparison-collapse-body > table > tbody > tr:last-child {
  position: absolute;
  height: 100%;
}
.comparison-collapse-body > table > tbody > tr:last-child > td:first-child {
  border-bottom: 1px solid #e9edf0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.comparison-collapse-body > table > tbody > tr:last-child > td:first-child::after {
  height: 103%;
}
.comparison-collapse-body > table > tbody > tr:last-child > td:first-child > a.clear-comparison-list-btn {
  color: #5489d7;
  font-family: "SF Pro Display";
  font-weight: normal;
  font-size: 10px;
  text-align: center;
  padding: 10px 5px;
  display: block;
  width: 100%;
}
.comparison-collapse-body > table > tbody > tr > td > a.comparison-add-to-cart-btn {
  position: absolute;
  right: 5px;
  -webkit-transform: translate(0px, -60px);
  -moz-transform: translate(0px, -60px);
  -ms-transform: translate(0px, -60px);
  -o-transform: translate(0px, -60px);
  transform: translate(0px, -60px);
  display: block;
  height: 20px;
  width: 20px;
  background: #51c878;
  border: 1px solid transparent;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 2px;
  z-index: 100;
}
.comparison-collapse-body > table > tbody > tr > td > a.comparison-add-to-cart-btn:hover {
  cursor: pointer;
}
.comparison-collapse-body > table > tbody > tr > td > a.comparison-add-to-cart-btn::after {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  background: url("../img/icons/cart.svg") no-repeat center center;
  background-size: cover;
}
.comparison-collapse-body > table > tbody > tr > td > a.comparison-add-to-cart-btn.active {
  border: 1px solid #51c878;
  background: transparent;
}
.comparison-collapse-body > table > tbody > tr > td > a.comparison-add-to-cart-btn.active::after {
  background: url("../img/icons/shopping-cart-sale-green.svg") no-repeat center center;
}
/*Footer*/
footer.main-footer {
  background-color: #2f3c4f;
  width: 100%;
  padding: 15px;
  max-height: 186px;
}
.footer-nav,
.footer-nav-list {
  width: 100%;
}
.footer-nav-list {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding-bottom: 15px;
  border-bottom: 1px solid #445061;
}
.footer-nav-item {
  margin: 0 10px;
}
.footer-nav-item:first-child {
  margin: 0 10px 0 0;
}
.footer-nav-item:last-child {
  margin: 0 0 0 10px;
}
.footer-nav-link {
  font-size: 14px;
  color: #fff;
  font-family: HelveticaNeueCyr;
  font-weight: normal;
}
.footer-content {
  margin-top: 15px;
  padding: 0;
}
.footer-content > .row {
  margin: 0;
  padding: 0;
}
.footer-content-wrap {
  padding: 0;
}
.footer-content-item.footer-contacts h3 {
  color: #5489d7;
  font-size: 18px;
  margin: 0;
  font-family: "SF Pro Display";
  font-weight: normal;
}
.footer-content-item.footer-contacts h3:nth-child(2) {
  margin-bottom: 5px;
}
.footer-content-item.footer-contacts p {
  margin: 0;
  color: #fff;
  font-size: 12px;
  font-family: "SF Pro Display";
  font-weight: normal;
}
.footer-social-item {
  margin-bottom: 15px;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}
.footer-social-item:nth-child(even) {
  justify-content: flex-start;
  padding-left: 15px;
}
.footer-social-item-icon {
  height: 35px;
  width: 35px;
}
:root {
  --content-height: 100%;
}
*,
head,
body {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.wrap {
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  width: 100%;
  background-color: #e9edf0;
  position: relative;
}
.scroll-disabled {
  overflow: hidden!important;
}
.wrap {
  background: #fff;
}
.error {
  padding: 25px 0;
  min-height: calc(100vh - 40px - 186px);
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.error > h1 {
  font-family: "Aspire";
  font-weight: normal;
  font-size: 16px;
  color: #5489d7;
  margin: 0;
  padding: 0 15px;
}
.error > .error-msg {
  width: 100%;
  text-align: center;
  padding: 10vh 0 25px 0;
  position: relative;
}
.error > .error-msg > h2 {
  font-family: "Aspire";
  font-weight: normal;
  font-size: 25px;
  color: #51c878;
  text-transform: uppercase;
}
.error > .error-msg > h3 {
  font-family: "Android Robot";
  font-weight: normal;
  font-size: 100px;
  color: #51c878;
  position: relative;
  line-height: 1;
  letter-spacing: -0.05ch;
  margin-bottom: 40px;
  z-index: 20;
}
.error > .error-msg > h3 > img {
  height: 100%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.error > .error-msg.bg-add {
  background: url("../img/404-2.png") no-repeat center center;
  background-size: 100%;
}
.error > .error-msg > p {
  font-family: "SF Pro Display";
  font-weight: normal;
  font-size: 14px;
  color: #858585;
  margin-bottom: 10px;
  text-align: center;
  z-index: 20;
  padding: 0 15px;
}
/*# sourceMappingURL=404.css.map */