:root {
  --content-height: 100%;
}
*,
head,
body {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.wrap {
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  width: 100%;
  background-color: #e9edf0;
}
.scroll-disabled {
  overflow: hidden!important;
}
@font-face {
  font-family: HelveticaNeueCyr;
  src: url("../fonts/HelveticaNeueCyr-Bold.ttf");
  src: url("../fonts/HelveticaNeueCyr-Roman.ttf");
}
@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SFProDisplay-Bold.ttf");
  src: url("../fonts/SFProDisplay-Regular.ttf");
}
.HelveticaNeueCyrBold {
  font-family: HelveticaNeueCyr;
  font-weight: bold;
}
.HelveticaNeueCyrRoman {
  font-family: HelveticaNeueCyr;
  font-weight: normal;
}
.SFProDisplayBold {
  font-family: "SF Pro Display";
  font-weight: bold;
}
.SFProDisplayRegular {
  font-family: "SF Pro Display";
  font-weight: normal;
}
.border-bottom-1px {
  border-bottom: 1px solid #e9edf0;
}
/*Nav Styles*/
.navigation {
  width: 100%;
  height: 40px;
  background-color: #2f3c4f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 15px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2000;
}
.nav-toggle-btn {
  width: 1.5rem;
  height: 1.5rem;
  background: url("../img/icons/menu-burger.svg") no-repeat center center;
  background-size: 100% 100%;
  border: 1px solid transparent;
  outline: none!important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.navigation-list {
  display: flex;
  list-style: none;
  margin-bottom: 0;
}
.nav-link,
.nav-link#cart {
  width: 20px;
  height: 20px;
  margin: 0 17px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-link#cart {
  margin: 0 0 0 17px;
  position: relative;
}
.nav-link#cart .cart-counter {
  position: absolute;
  right: -10px;
  top: -5px;
  height: 15px;
  width: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #51c878;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  font-family: "SF Pro Display";
  font-weight: bold;
  font-size: 12px;
  color: #fff;
}
.nav-link svg {
  height: 20px;
  stroke: #fff;
  transition: 0.5s;
}
.nav-link.active svg {
  stroke: #51c878;
  -webkit-transform: scale(1.4);
  -moz-transform: scale(1.4);
  -ms-transform: scale(1.4);
  -o-transform: scale(1.4);
  transform: scale(1.4);
}
.navigation-collapse {
  position: absolute;
  top: 0;
  left: -320px;
  width: 280px;
  background: #fff;
  height: 100%;
  -webkit-box-shadow: -5px 0px 10px 15px rgba(255, 255, 255, 0.2);
  -moz-box-shadow: -5px 0px 10px 15px rgba(255, 255, 255, 0.2);
  box-shadow: -5px 0px 10px 15px rgba(255, 255, 255, 0.2);
}
.navigation-collapse-close-btn {
  position: absolute;
  height: 20px;
  width: 20px;
  background: url("../img/icons/x.svg") no-repeat center center;
  -webkit-background-size: cover;
  background-size: cover;
  top: 25px;
  right: -30px;
}
.navigation-collapse-wrap {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  background-color: rgba(47, 60, 79, 0.85);
  display: none;
}
.navigation-collapse-header {
  background: #e9edf0;
  -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
  padding: 15px 25px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.navigation-collapse-header > h1 {
  font-size: 20px;
  color: #2f3c4f;
  margin: 0 0 0 25px;
  text-transform: uppercase;
}
.navigation-collapse-header .lang {
  position: absolute;
  right: 5px;
  top: 5px;
}
.navigation-collapse-header .lang .lang-list {
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation-collapse-header .lang .lang-list .lang-item .lang-link {
  text-transform: uppercase;
  font-size: 12px;
  color: #858585;
  font-family: "SF Pro Display";
  font-weight: normal;
  border-right: 1px solid #000;
  padding: 0 5px;
}
.navigation-collapse-header .lang .lang-list .lang-item:last-child .lang-link {
  border: none;
}
.navigation-collapse-header .lang .lang-list .lang-item .lang-link.active {
  color: #5489d7;
}
.navigation-collapse-list {
  list-style-type: none;
  padding: 12px 0;
  position: relative;
}
.navigation-collapse-list-item {
  display: flex;
  justify-content: flex-start;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  align-items: center;
}
.navigation-collapse-list-item:hover,
.navigation-collapse-list-item.active {
  background-color: rgba(81, 200, 120, 0.5);
  cursor: pointer;
}
.navigation-collapse-list-item:hover .navigation-collapse-list-link {
  font-family: HelveticaNeueCyr;
  font-weight: bold;
}
.navigation-collapse-list-item:nth-child(4),
.navigation-collapse-list-item:nth-child(7) {
  border-bottom: 1px solid #e9edf0;
}
.navigation-collapse-list-icon {
  height: 20px;
  width: 20px;
  stroke: #858585;
  margin-right: 20px;
}
.navigation-collapse-list-icon[data-name=catalog] {
  stroke: #5489d7;
}
.navigation-collapse-list-icon[data-name=cart] {
  stroke: #51c878;
}
.navigation-collapse-list-link {
  width: 100%;
  height: 100%;
  color: #000 !important;
  font-family: HelveticaNeueCyr;
  font-weight: normal;
  font-size: 14px;
  text-decoration: none!important;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 12px 25px;
}
.navigation-collapse-footer {
  padding: 15px;
  position: absolute;
  width: 100%;
  bottom: 0;
}
.navigation-collapse-footer .row {
  margin: 0;
}
.navigation-collapse-footer .mobile-app-item {
  padding: 8px 5px;
  text-decoration: none!important;
}
.navigation-collapse-footer .mobile-app-item img {
  height: 20px;
  width: 20px;
  margin-right: 5px;
}
.navigation-collapse-footer-social {
  margin-top: 20px;
  margin-bottom: 25px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.navigation-collapse-footer-social img {
  filter: brightness(0.7);
  margin-right: 15px;
}
.mobile-app-wrap {
  position: relative;
  padding: 0;
}
.mobile-app-wrap > .dummy {
  margin-top: 46px;
}
.mobile-app-item {
  background: #fff;
  margin: 3px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 15px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}
.mobile-app-item {
  flex-flow: row;
  padding: 8px 15px;
}
.mobile-app-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mobile-app-item .mobile-app-icon {
  height: 30px;
  width: 30px;
  margin-right: 12px;
}
.mobile-app-title {
  text-align: left;
  color: #000;
  display: flex;
  flex-flow: column-reverse;
}
.mobile-app-title > p {
  font-size: 8px;
  margin: 0;
}
.mobile-app-title > h3 {
  font-size: 14px;
  margin: 0;
}
/*Sub-navigation*/
.sub-navigation-collapse {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  z-index: 20;
  background: #fff;
  display: none;
}
.go-back-btn {
  padding: 12px 25px;
  border-bottom: 1px solid #e9edf0;
  font-family: HelveticaNeueCyr;
  font-weight: normal;
  font-size: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.go-back-btn::before {
  content: url("../img/icons/arrow-left.svg");
  display: block;
  height: 24px;
  margin-right: 10px;
}
.go-back-btn > span {
  padding-left: 10px;
  border-left: 1px solid #e9edf0;
}
.sub-navigation-collapse-list {
  list-style-type: none;
  width: 100%;
  height: 100%;
  padding: 12px 0;
}
.sub-navigation-collapse-item {
  display: flex;
  justify-content: flex-start;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  align-items: center;
}
.sub-navigation-collapse-item:hover,
.sub-navigation-collapse-item.active {
  background-color: rgba(81, 200, 120, 0.5);
  cursor: pointer;
}
.sub-navigation-collapse-item:hover .navigation-collapse-list-link {
  font-family: HelveticaNeueCyr;
  font-weight: bold;
}
.sub-navigation-collapse-item:nth-child(4),
.sub-navigation-collapse-item:nth-child(7) {
  border-bottom: 1px solid #e9edf0;
}
.sub-navigation-collapse-item.sub-navigation-collapse-item-with-icon::after {
  content: '';
  height: 24px;
  width: 24px;
  background: url("../img/icons/chevron-right.svg") no-repeat center center;
  -webkit-background-size: cover;
  background-size: cover;
  margin-left: auto;
}
.sub-navigation-collapse-list-icon {
  height: 20px;
  width: 20px;
  stroke: #858585;
  margin-right: 20px;
}
.sub-navigation-collapse-list-icon[data-name=catalog] {
  stroke: #5489d7;
}
.sub-navigation-collapse-list-icon[data-name=cart] {
  stroke: #51c878;
}
.sub-navigation-collapse-list-link {
  width: 100%;
  height: 100%;
  color: #000 !important;
  font-family: HelveticaNeueCyr;
  font-weight: normal;
  font-size: 14px;
  text-decoration: none!important;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 12px 25px;
}
.sub-navigation-collapse-list-link:hover {
  font-family: HelveticaNeueCyr;
  font-weight: bold;
}
.sub-navigation-more-icon {
  stroke: #5489d7;
  margin-left: auto;
}
/*Search collapse*/
.search-collapse {
  right: -320px;
  position: absolute;
  top: 0;
  left: -320px;
  width: 280px;
  background: #fff;
  height: 100%;
  -webkit-box-shadow: -5px 0px 10px 15px rgba(255, 255, 255, 0.2);
  -moz-box-shadow: -5px 0px 10px 15px rgba(255, 255, 255, 0.2);
  box-shadow: -5px 0px 10px 15px rgba(255, 255, 255, 0.2);
  left: unset!important;
  -webkit-box-shadow: 0px 10px 15px 7px rgba(255, 255, 255, 0.2);
  -moz-box-shadow: 0px 10px 15px 7px rgba(255, 255, 255, 0.2);
  box-shadow: 0px 10px 15px 7px rgba(255, 255, 255, 0.2);
}
.search-collapse-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: #e9edf0;
  padding: 10px 14px;
}
.search-collapse-header form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 10px;
  width: 100%;
}
.search-collapse-header form input {
  height: 30px;
  width: 100%;
  border: 1px solid #858585;
  -webkit-border-radius: 10px 0 0 10px;
  -moz-border-radius: 10px 0 0 10px;
  border-radius: 10px 0 0 10px;
  background: #fff;
  border-right: none;
  padding: 0 8px;
  font-family: "SF Pro Display";
  font-weight: normal;
  color: #000;
  font-size: 12px;
}
.search-collapse-header form button {
  background: transparent;
  border: 1px solid #858585;
  padding: 8px;
  background: #ffffff;
  display: flex;
  border-left: none;
  -webkit-border-radius: 0 10px 10px 0;
  -moz-border-radius: 0 10px 10px 0;
  border-radius: 0 10px 10px 0;
  outline: none;
}
.search-collapse-header form button:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.search-collapse-header form button svg {
  height: 12px;
  width: 12px;
}
.search-result {
  width: 100%;
  height: 100%;
  padding: 0 15px;
  overflow: auto;
}
.search-result .result-item-wrap {
  width: 100%;
}
.search-result .result-item-wrap .result-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 15px;
}
.search-result .result-item-wrap .result-item .result-item-shortcut {
  max-height: 35px;
  max-width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-result .result-item-wrap .result-item .result-item-info {
  margin-left: 10px;
}
.search-result .result-item-wrap .result-item .result-item-info h2 {
  color: #000;
  font-family: "SF Pro Display";
  font-weight: normal;
  font-size: 10px;
  margin: 0 0 5px;
}
.search-result .result-item-wrap .result-item .result-item-info p {
  color: #000;
  font-family: "SF Pro Display";
  font-weight: bold;
  font-size: 12px;
  margin: 0;
}
.search-result .result-item-wrap .result-item .result-item-info p span {
  color: #858585;
  font-family: "SF Pro Display";
  font-weight: normal;
  font-size: 12px;
  text-decoration: line-through;
  margin-left: 20px;
}
/*Footer*/
footer.main-footer {
  background-color: #2f3c4f;
  width: 100%;
  padding: 15px;
}
.footer-nav,
.footer-nav-list {
  width: 100%;
}
.footer-nav-list {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding-bottom: 15px;
  border-bottom: 1px solid #445061;
}
.footer-nav-item {
  margin: 0 10px;
}
.footer-nav-item:first-child {
  margin: 0 10px 0 0;
}
.footer-nav-item:last-child {
  margin: 0 0 0 10px;
}
.footer-nav-link {
  font-size: 14px;
  color: #fff;
  font-family: HelveticaNeueCyr;
  font-weight: normal;
}
.footer-content {
  margin-top: 15px;
  padding: 0;
}
.footer-content > .row {
  margin: 0;
  padding: 0;
}
.footer-content-wrap {
  padding: 0;
}
.footer-content-item.footer-contacts h3 {
  color: #5489d7;
  font-size: 18px;
  margin: 0;
  font-family: "SF Pro Display";
  font-weight: normal;
}
.footer-content-item.footer-contacts h3:nth-child(2) {
  margin-bottom: 5px;
}
.footer-content-item.footer-contacts p {
  margin: 0;
  color: #fff;
  font-size: 12px;
  font-family: "SF Pro Display";
  font-weight: normal;
}
.footer-social-item {
  margin-bottom: 15px;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}
.footer-social-item:nth-child(even) {
  justify-content: flex-start;
  padding-left: 15px;
}
.footer-social-item-icon {
  height: 35px;
  width: 35px;
}
.router {
  width: 100%;
  padding: 5px 0 10px 0;
}
.router-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
  margin: 0;
}
.router-item {
  display: flex;
  align-items: center;
}
.router-item::after {
  content: '→';
  color: #858585;
  margin: 0 3px;
}
.router-item:last-child::after {
  content: none;
}
.router-item .router-link {
  font-family: "SF Pro Display";
  font-weight: bold;
  font-size: 10px;
  color: #5489d7;
  white-space: nowrap;
}
.router-item.active .router-link {
  color: #858585;
}
.title-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title {
  font-size: 16px;
  color: #000000;
  font-family: HelveticaNeueCyr;
  font-weight: bold;
  margin: 5px 0 0 0;
}
.product-counter {
  font-family: "SF Pro Display";
  font-weight: bold;
  font-size: 12px;
  color: #858585;
  margin: 0 0 10px 0;
}
.go-back-title-btn {
  height: 25px;
  width: 25px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.07);
}
.go-back-title-btn svg {
  vertical-align: unset;
}
.modal-dialog-centered {
  align-items: flex-start;
  padding-top: 50%;
}
.modal-content {
  border: none;
}
.modal-header {
  border-bottom: none;
}
.modal-header .close {
  padding: 0 5px;
}
.modal-title {
  font-family: "SF Pro Display";
  font-weight: bold;
  font-size: 14px;
  color: #000000;
}
.add-cart-position {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
.description-pos {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0!important;
}
.position-shortcut-icon {
  padding: 0;
}
.position-title {
  font-family: "SF Pro Display";
  font-weight: normal;
  font-size: 12px;
  color: #000000;
  padding: 0 20px;
  margin: 0;
}
.delete-position-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  height: 20px;
  margin: 0;
}
.delete-position-btn svg {
  height: 100%;
}
.details-pos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}
.price-by-one {
  text-align: left;
}
.price-by-one h3 {
  margin: 0;
  font-family: "SF Pro Display";
  font-weight: normal;
  font-size: 12px;
  color: #000;
}
.price-by-one p {
  margin: 0;
  font-family: "SF Pro Display";
  font-weight: normal;
  font-size: 10px;
  color: #858585;
}
.switchers-count {
  display: flex;
  justify-content: center;
  align-items: center;
}
.switchers-count .switchers-count-btn {
  font-family: "SF Pro Display";
  font-weight: bold;
  font-size: 14px;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 25px;
  border: 1px solid #e9edf0;
  border-radius: 0 2px 2px 0;
}
.switchers-count .switchers-count-btn[data-do="remove"] {
  font-weight: normal;
  color: #858585;
  border-radius: 2px 0 0 2px;
}
.switchers-count .count {
  margin: 0;
  font-family: "SF Pro Display";
  font-weight: normal;
  font-size: 14px;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 25px;
  border-bottom: 1px solid #e9edf0;
  border-top: 1px solid #e9edf0;
}
.price-total {
  text-align: right;
}
.price-total h3 {
  margin: 0;
  font-family: "SF Pro Display";
  font-weight: bold;
  font-size: 14px;
  color: #000;
}
.price-total p {
  margin: 0;
  font-family: "SF Pro Display";
  font-weight: normal;
  font-size: 10px;
  color: #858585;
}
.modal-footer {
  border: none;
  justify-content: space-between;
}
.modal-footer > * {
  margin: 0;
}
.modal-btn {
  width: auto;
  width: 130px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
  font-size: 12px;
  font-family: HelveticaNeueCyr;
  font-weight: normal;
  border-radius: 5px;
}
.modal-btn.go-to-cart-btn {
  margin-right: 8px;
  background-color: #51c878;
  border: 1px solid #51c878;
  color: #ffffff;
}
.modal-btn.return-to-products-btn {
  margin-left: 8px;
  background-color: #ffffff;
  border: 1px solid #5489d7;
  color: #5489d7;
}
.wrap {
  background: #ffffff;
}
.catalog {
  padding: 0 15px;
}
.catalog-positions .row {
  margin: 0;
}
.catalog-product-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  padding: 10px 0 5px 0;
}
.catalog-product-wrap:last-child {
  border-bottom: none;
}
.catalog-product-item-header {
  width: 100%;
  padding: 20px 0 0 0;
}
.catalog-product-item-shortcut {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin-right: 10px;
}
.catalog-product-info-block h2 {
  font-size: 14px;
  color: #000;
  font-family: "SF Pro Display";
  font-weight: normal;
  text-align: left;
}
.catalog-product-item-price {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 10px;
}
.catalog-product-item-price h3 {
  font-family: "SF Pro Display";
  font-weight: normal;
  font-size: 12px;
  color: #858585;
  text-decoration: line-through;
  margin-bottom: 5px;
}
.catalog-product-item-price h4 {
  font-family: "SF Pro Display";
  font-weight: bold;
  color: #000000;
  font-size: 16px;
  margin: 0;
}
.catalog-product-item-price .add-to-cart-btn {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #51c878;
  border: 1px solid #51c878;
  border-radius: 5px;
}
.catalog-product-item-price .add-to-cart-btn.active {
  background-color: transparent;
}
.catalog-product-item-price .add-to-cart-btn svg.sailing {
  height: 19px;
  display: block;
  stroke: #fff;
}
.catalog-product-item-price .add-to-cart-btn.active svg.sailing {
  height: 19px;
  display: none;
}
.catalog-product-item-price .add-to-cart-btn svg.sailed {
  height: 24px;
  display: none;
}
.catalog-product-item-price .add-to-cart-btn.active svg.sailed {
  height: 19px;
  display: block;
  stroke: #51c878;
}
.catalog-product-item-rate {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-bottom: 5px;
}
.rate-stars-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
  margin: 0;
}
.rate-star {
  height: 10px;
  width: 10px;
  margin: 0 1px;
  display: flex;
}
.rate-star > svg {
  stroke: #ffc600;
  height: 10px;
  width: 10px;
}
.rate-star.fill > svg {
  fill: #ffc600;
}
.feedbacks {
  font-family: "SF Pro Display";
  font-weight: normal;
  font-size: 10px;
  color: #858585;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.sort-header {
  width: 100%;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
}
.sort-list {
  padding: 0 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
}
.sort-item {
  margin-right: 35px;
}
.sort-item:last-child {
  margin-right: 0;
}
.sort-link {
  padding: 8px 0;
  display: block;
  font-family: "SF Pro Display";
  font-weight: normal;
  font-size: 14px;
  color: #5489d7;
}
.sort-link svg {
  stroke: #5489d7;
  margin-right: 10px;
}
.filterCollapseWrap {
  position: fixed;
  display: none;
  top: 0;
  right: 0;
  z-index: 10000;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.filterCollapse {
  position: absolute;
  right: -270px;
  top: 0;
  height: 100%;
  min-height: 100%;
  width: 260px;
  background-color: #fff;
}
.filterCollapseHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
  background: #e9edf0;
  -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
}
.filterCollapseHeader > a > svg {
  margin-right: 20px;
  width: 13px;
}
.filterCollapseHeader > a > span {
  font-size: 16px;
  color: #000;
  font-family: HelveticaNeueCyr;
  font-weight: normal;
}
.filterCollapseHeader > svg {
  stroke: #858585;
  width: 12px;
  height: 12px;
}
.filter-collapse-body {
  overflow: auto;
  height: 100%;
  padding: 0 10px;
}
.selected-filters {
  width: 100%;
  padding: 15px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.selected-filters h2 {
  font-family: "SF Pro Display";
  font-weight: normal;
  font-size: 12px;
  color: #000000;
}
.selected {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px 10px;
}
.selected-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #5489d7;
  padding: 2px 4px;
  border-radius: 15px;
}
.selected-item h3 {
  font-family: "SF Pro Display";
  font-weight: bold;
  font-size: 10px;
  color: #858585;
  margin: 0 5px 0 0;
  display: flex;
  justify-content: center;
  align-items: end;
}
.selected-item h3 span {
  font-family: "SF Pro Display";
  font-weight: normal;
  font-size: 12px;
  color: #000;
}
.selected-item svg {
  height: 10px;
  width: 10px;
  stroke: #000;
}
.filter-collapse-body .accordion .card {
  -ms-word-wrap: unset;
  word-wrap: unset;
  background-color: unset;
  -webkit-background-clip: unset;
  -moz-background-clip: unset;
  background-clip: unset;
  border: none;
  -webkit-border-radius: unset;
  -moz-border-radius: unset;
  border-radius: unset;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.filter-collapse-body .accordion .card .card-header {
  background-color: unset;
  border: none;
  padding: 20px 0;
}
.filter-collapse-body .accordion .card .card-header button {
  transition: 0.5s;
  font-family: "SF Pro Display";
  font-weight: bold;
  font-size: 14px;
  color: #858585;
  width: 100%;
  padding: 0;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}
.filter-collapse-body .accordion .card .card-header button[aria-expanded=true] > svg {
  stroke: #858585;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.filter-collapse-body .accordion .card .card-header button.collapsed[aria-expanded=false] > svg {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
.filter-collapse-body .accordion .card .card-header button:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.filter-collapse-body .accordion .card .card-header button.price-btn,
.filter-collapse-body .accordion .card .card-header button.price-btn svg {
  color: #5489d7;
  stroke: #5489d7;
}
.load-more {
  margin: 25px 0 20px 0;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.load-more-statistic p {
  font-family: "SF Pro Display";
  font-weight: normal;
  color: #858585;
  font-size: 12px;
  margin-bottom: 10px;
}
.load-more-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.load-more-btn svg {
  stroke: #5489d7;
  height: 30px;
  margin-right: 10px;
}
.load-more-btn span {
  font-family: "SF Pro Display";
  font-weight: normal;
  font-size: 18px;
  color: #000;
}
/*# sourceMappingURL=catalog-products-list.css.map */