@import './root-styles';
@import './page-header-style';
@import './add-to-cart-modal-style';
@import './filter-collapse-style';
@import './sort-nav-style';

.wrap {
    background: #ffffff;
}

.catalog {
    height: 100%;
    width: 100%;
}
.catalog-positions {
    width: 100%;
    padding: 0 15px;
    margin-top: 15px;
    & > .row {
        margin: 0;
    }
}
.catalog-product-wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    &:last-child {
        border-bottom: none;
    }

    padding: 10px 0 5px 0;
}
.catalog-product-item-header {
    width: 100%;
    padding: 20px 0 0 0;
}
.catalog-product-item-shortcut {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin-right: 10px;
}
.catalog-product-info-block h2 {
    font-size: 14px;
    color: #000;
    .SFProDisplayRegular;
    text-align: left;
}
.catalog-product-item-price {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 10px;
}
.catalog-product-item-price h3 {
    .SFProDisplayRegular;
    font-size: 12px;
    color: @grayColor;
    text-decoration: line-through;
    margin-bottom: 5px;
}
.catalog-product-item-price h4 {
    .SFProDisplayBold;
    color: #000000;
    font-size: 16px;
    margin: 0;
}
.catalog-product-item-price .add-to-cart-btn {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: @thirdColor;
    border: 1px solid @thirdColor;
    border-radius: 5px;
    &.active {
        background-color: transparent;
    }
}
.catalog-product-item-price .add-to-cart-btn svg.sailing {
    height: 19px;
    display: block;
    stroke: #fff;
}
.catalog-product-item-price .add-to-cart-btn.active svg.sailing {
    height: 19px;
    display: none;
}
.catalog-product-item-price .add-to-cart-btn svg.sailed {
    height: 24px;
    display: none;
}
.catalog-product-item-price .add-to-cart-btn.active svg.sailed {
    height: 20px;
    width: 20px;
    display: block;
    stroke: @thirdColor;
    fill: none;
    -webkit-text-stroke-width: 2px;
    stroke-width: 2px;
}
.catalog-product-item-rate {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-bottom: 5px;
}
.rate-stars-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
    margin: 0;
}
.rate-star {
    height: 10px;
    width: 10px;
    margin: 0 1px;
    display: flex;
    & > svg {
        stroke: #ffc600;
        height: 10px;
        width: 10px;
    }
    &.fill > svg {
        fill: #ffc600;
    }
}
.feedbacks {
    .SFProDisplayRegular;
    font-size: 10px;
    color: @grayColor;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.load-more {
    margin: 25px 0 20px 0;
    display: flex;
    flex-flow: column;
    align-items: center;
}
.load-more-statistic p {
    .SFProDisplayRegular;
    color: @grayColor;
    font-size: 12px;
    margin-bottom: 10px;
}
.load-more-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}
.load-more-btn svg {
    stroke: @secondColor;
    height: 30px;
    margin-right: 10px;
}
.load-more-btn span {
    .SFProDisplayRegular;
    font-size: 18px;
    color: #000;
}
