@font-face {
  font-family: HelveticaNeueCyr;
  src: url("../fonts/HelveticaNeueCyr-Bold.ttf");
  src: url("../fonts/HelveticaNeueCyr-Roman.ttf");
}
@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SFProDisplay-Bold.ttf");
  src: url("../fonts/SFProDisplay-Regular.ttf");
}
@font-face {
  font-family: "Aspire";
  src: url("../fonts/AspireFont.ttf");
}
@font-face {
  font-family: "Android Robot";
  src: url("../fonts/ANDROIDROBOT.ttf");
}
.HelveticaNeueCyrBold {
  font-family: HelveticaNeueCyr;
  font-weight: bold;
}
.HelveticaNeueCyrRoman {
  font-family: HelveticaNeueCyr;
  font-weight: normal;
}
.SFProDisplayBold {
  font-family: "SF Pro Display";
  font-weight: bold;
}
.SFProDisplayRegular {
  font-family: "SF Pro Display";
  font-weight: normal;
}
.AspireFont {
  font-family: "Aspire";
  font-weight: normal;
}
.Android {
  font-family: "Android Robot";
  font-weight: normal;
}
.checkout-page-header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2f3c4f;
  padding: 20px;
}
.checkout-page-header > .checkout-page-header-wrapper {
  width: 100%;
  max-width: 1605px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.checkout-page-header > .checkout-page-header-wrapper > .logotype {
  font-family: "Aspire";
  font-weight: normal;
  color: #fff;
  font-size: 22px;
  margin: 0;
}
.checkout-page-header > .checkout-page-header-wrapper > .phone-menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.checkout-page-header > .checkout-page-header-wrapper > .phone-menu > .phone-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding: 5px;
}
.checkout-page-header > .checkout-page-header-wrapper > .phone-menu > .phone-item > svg {
  stroke: #fff;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.checkout-page-header > .checkout-page-header-wrapper > .phone-menu > .phone-item > svg.chevron {
  margin-left: 5px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.checkout-page-header > .checkout-page-header-wrapper > .phone-menu > .phone-item > .phone-link {
  text-decoration: none;
}
.checkout-page-header > .checkout-page-header-wrapper > .phone-menu > .phone-item > .phone-link > span {
  display: block;
  font-size: 16px;
  color: #fff;
  font-family: HelveticaNeueCyr;
  font-weight: bold;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.checkout-page-header > .checkout-page-header-wrapper > .phone-menu > .phone-item > .phone-link > span:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}
.checkout-page-header > .checkout-page-header-wrapper > .phone-menu > .phone-item > .dropdown-menu-phone {
  width: 100%;
  display: none;
  list-style: none;
  position: absolute;
  padding: 0;
  margin: 0;
  top: 30px;
  left: 0;
  background-color: #e9edf0;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}
.checkout-page-header > .checkout-page-header-wrapper > .phone-menu > .phone-item > .dropdown-menu-phone > .dropdown-menu-phone-item {
  padding: 5px 35px 5px 5px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.checkout-page-header > .checkout-page-header-wrapper > .phone-menu > .phone-item > .dropdown-menu-phone > .dropdown-menu-phone-item > .dropdown-menu-phone-link {
  color: #000;
  font-family: HelveticaNeueCyr;
  font-weight: bold;
  text-decoration: none;
  font-size: 16px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.checkout-page-header > .checkout-page-header-wrapper > .phone-menu > .phone-item > .dropdown-menu-phone > .dropdown-menu-phone-item > .dropdown-menu-phone-link:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}
.checkout-page-header > .checkout-page-header-wrapper > .phone-menu > .phone-item:hover {
  background: #e9edf0;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
.checkout-page-header > .checkout-page-header-wrapper > .phone-menu > .phone-item:hover > .phone-link > span {
  color: #000;
}
.checkout-page-header > .checkout-page-header-wrapper > .phone-menu > .phone-item:hover > svg {
  stroke: #000;
}
.checkout-page-header > .checkout-page-header-wrapper > .phone-menu > .phone-item:hover > svg.chevron {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.checkout-page-header > .checkout-page-header-wrapper > .phone-menu > .phone-item:hover > .dropdown-menu-phone {
  display: block;
}
.checkout-page-section {
  width: 100%;
  max-width: 1605px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
  margin: auto;
}
.checkout-page-section > .checkout-page-controls {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  justify-content: center;
  padding: 20px;
}
.checkout-page-section > .checkout-page-controls > .control-btn {
  font-family: "SF Pro Display";
  font-weight: bold;
  font-size: 16px;
  color: #5489d7;
  margin-bottom: 5px;
}
.checkout-page-section > .checkout-page-controls > .control-btn:last-child {
  margin: 0;
}
.checkout-page-section > .checkout-page-body {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 10px 35px;
}
.checkout-page-section > .checkout-page-body > .checkout-steps-wrapper {
  flex: 0 0 70%;
  max-width: 70%;
}
.checkout-page-section > .checkout-page-body > .checkout-steps-wrapper > .steps-title {
  font-family: HelveticaNeueCyr;
  font-weight: bold;
  font-size: 24px;
  color: #000;
  margin: 0 0 15px 0;
}
.checkout-page-section > .checkout-page-body > .checkout-steps-wrapper > .checkout-step {
  width: 100%;
  padding: 0 0 0 20px;
}
.checkout-page-section > .checkout-page-body > .checkout-steps-wrapper > .checkout-step > .checkout-step-header {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.checkout-page-section > .checkout-page-body > .checkout-steps-wrapper > .checkout-step > .checkout-step-header > .checkout-step-number {
  width: 25px;
  height: 25px;
  background: #858585;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin-right: 10px;
}
.checkout-page-section > .checkout-page-body > .checkout-steps-wrapper > .checkout-step > .checkout-step-header > .checkout-step-title {
  font-family: "SF Pro Display";
  font-weight: bold;
  font-size: 18px;
  color: #858585;
}
.checkout-page-section > .checkout-page-body > .checkout-steps-wrapper > .checkout-step > .checkout-step-body {
  width: calc(100% - 12px);
  padding: 20px 10px;
  margin: 10px 0 10px 12px;
  border-left: 1px solid #858585;
}
.checkout-page-section > .checkout-page-body > .checkout-steps-wrapper > .checkout-step > .checkout-step-body > input {
  width: 555px;
  height: 30px;
  padding: 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  box-shadow: none;
  font-family: "SF Pro Display";
  font-weight: normal;
  font-size: 16px;
  color: #000;
  border: 1px solid #858585;
  outline: none;
}
.checkout-page-section > .checkout-page-body > .checkout-steps-wrapper > .checkout-step > .checkout-step-body > input:focus {
  border: 1px solid #5489d7;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.checkout-page-section > .checkout-page-body > .checkout-steps-wrapper > .checkout-step > .checkout-step-body > input::placeholder {
  color: #858585;
}
.checkout-page-section > .checkout-page-body > .checkout-steps-wrapper > .checkout-step > .checkout-step-body > input.has-error {
  border: 1px solid #ff3647;
}
.checkout-page-section > .checkout-page-body > .checkout-steps-wrapper > .checkout-step > .checkout-step-body > input.complete {
  border: 1px solid #51c878;
}
.checkout-page-section > .checkout-page-body > .checkout-steps-wrapper > .checkout-step.complete > .checkout-step-header > .checkout-step-number {
  background: #51c878;
}
.checkout-page-section > .checkout-page-body > .checkout-steps-wrapper > .checkout-step.complete > .checkout-step-header > .checkout-step-title {
  color: #0000;
}
.checkout-page-section > .checkout-page-body > .checkout-steps-wrapper > .checkout-step.complete > .checkout-step-body {
  display: none;
}
.checkout-page-section > .checkout-page-body > .checkout-steps-wrapper > .checkout-step.active > .checkout-step-header > .checkout-step-number {
  background: #5489d7;
}
.checkout-page-section > .checkout-page-body > .checkout-steps-wrapper > .checkout-step.active > .checkout-step-header > .checkout-step-title {
  color: #5489d7;
}
/*# sourceMappingURL=checkout.css.map */