@import './root-styles';

/*Slider*/
.carousel {
    width: 100%;
    margin: 10px 0 5px 0;
    position: relative;
    & > .carousel-indicators {
        margin: 0 15px 0 0;
        justify-content: flex-end;
        & > li {
            border-radius: 50%;
            width: 5px;
            height: 5px;
            background-color: #85cdc9;
        }
    }
    & > .carousel-inner {
        width: 100%;
        height: 350px;
        & > .carousel-item, & > .carousel-item.active {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            &[data-id="0"] {
                background: url("../img/slides/slide.jpg") no-repeat center center;
                background-size: cover;
            }
            &[data-id="1"] {
                background: url("../img/slides/slide2.jpg") no-repeat center center;
                background-size: cover;
            }
        }
    }
    & > .slider-loading {
        width: 100%;
        height: 3px;
        position: absolute;
        bottom: 0;
        background-color: #fff;
        opacity: 0.6;
        z-index: 10;
        overflow: hidden;
        & > .slider-progress {
            width: 50%;
            height: 100%;
            background-color: @secondColor;
        }
    }
}




/*Categories Section | Discount and new items section | Mobile app section*/

.content {
    padding: 0 155px 0 0;
    & > div, & > section {
        flex: 0 0 calc(77% - 60px);
        max-width: calc(77% - 60px);
    }
}
.fluid-content {
    & > div, & > section {
        max-width: 1920px;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding: 30px 185px 30px 0;
        & > * {
            flex: 0 0 calc(77% - 60px);
            max-width: calc(77% - 60px);
        }
    }
}
.advantages {
    background-color: @secondColor;
    & > .advantages-wrap {
        width: 100%;
        & > .advantages-list {
            list-style: none;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            & > .advantages-item {
                margin: 0 75px;
                & > .advantages-link {
                    display: flex;
                    flex-flow: column;
                    justify-content: space-between;
                    align-items: center;
                    & > .advantages-title {
                        .SFProDisplayBold;
                        font-size: 18px;
                        color: #000;
                    }
                    & > .advantages-icon {
                        width: 150px;
                        max-width: 150px;
                        height: auto;
                    }
                }
            }
        }
    }
}

.blog-news, .about-us {
    background-color: #9ebbe3;
    &.about-us {
        background-color: @bodyBackgroundColor;
    }
    & > .blog-news-wrap, & > .about-us-wrap {
        flex-flow: column;
        align-items: flex-end;
        width: 100%;
        padding: 30px 155px 30px 0;
        & > .blog-news-header, & > .about-us-header {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            padding: 0 0 0 25px;
            margin-bottom: 20px;
            & > h2 {
                .HelveticaNeueCyrBold;
                font-size: 18px;
                color: #000;
                margin: 0;
            }
            & > a {
                .SFProDisplayRegular;
                font-size: 12px;
                color: @grayColor;
                text-decoration: underline;
                margin: 0;
            }
        }
        & > p.about-us-text {
            .SFProDisplayRegular;
            font-size: 16px;
            color: #000;
            text-align: justify;
            margin: 0 0 15px;
            &:last-child {
                margin: 0;
            }
        }
        & > .blog-news-body {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: stretch;
            & > .blog-news-item {
                flex: 0 0 50%;
                max-width: 50%;
                width: 100%;
                margin-bottom: 6px;
                &:nth-child(even) {
                    padding: 0 0 0 3px;
                }
                &:nth-child(odd) {
                    padding: 0 3px 0 0;
                }
                & > .blog-news-wrap {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 20px;
                    background-color: #fff;
                    position: relative;
                    & > .blog-news-image {
                        flex: 0 0 50%;
                        max-width: 50%;
                        width: 100%;
                        overflow: hidden;
                        & > img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    & > .blog-news-details {
                        flex: 0 0 50%;
                        max-width: 50%;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        flex-flow: column;
                        justify-content: space-between;
                        align-items: flex-start;
                        padding: 20px 20px 20px 10px;
                        position: absolute;
                        right: 0;
                        top: 0;
                        & > .blog-news-details-header {
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            & > h2.date, & > p.theme {
                                .SFProDisplayRegular;
                                color: @grayColor;
                                font-size: 14px;
                                margin: 0;
                                line-height: 1;
                            }
                        }
                        & > .blog-news-details-body {
                            width: 100%;
                            & > a.title-link {
                                text-decoration: none;
                                & > h2.title {
                                    .SFProDisplayBold;
                                    font-size: 16px;
                                    color: #000;
                                    margin: 0 0 5px 0;
                                    word-break: break-word;
                                    overflow: hidden;
                                    -ms-text-overflow: ellipsis;
                                    text-overflow: ellipsis;
                                    display: -webkit-box;
                                    -webkit-box-orient: vertical;
                                    -webkit-line-clamp: 2;
                                    line-height: 1;
                                    max-height: 2rem;
                                }
                            }
                            & > p.short-text {
                                .SFProDisplayRegular;
                                font-size: 14px;
                                color: #000;
                                margin: 0;
                                word-break: break-word;
                                overflow: hidden;
                                -ms-text-overflow: ellipsis;
                                text-overflow: ellipsis;
                                display: -webkit-box;
                                -webkit-box-orient: vertical;
                                -webkit-line-clamp: 4;
                                line-height: 1;
                                max-height: 4rem;
                            }
                        }
                        & > .blog-news-details-footer {
                            display: flex;
                            justify-content: flex-start;
                            align-items: flex-end;
                            width: 100%;
                            & > p.views, & > p.comments {
                                .SFProDisplayRegular;
                                color: @grayColor;
                                font-size: 12px;
                                margin: 0;
                                &.views {
                                    margin-right: 15px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.categories, .discount-and-newItems, .mobile-app {
    margin: 5px 0;
    padding: 0;
    display: none;
}
.categories>.row, .discount-and-newItems>.row, .mobile-app>.row {
    margin: 0 3px;
}
.position-wrap, .discount-and-newItems-wrap {
    position: relative;
    padding: 0;
}
.position-wrap>.dummy {
    margin-top: 100%;
}
.discount-and-newItems-wrap>.dummy {
    margin-top: 66px;
}

.position, .discount, .newItems {
    background: #fff;
    margin: 3px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 15px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
}
.discount, .newItems {
    flex-flow: row;
}
.position-icon {
    margin-bottom: 13px;
}
.position-name, .discount-title, .newItems-title {
    font-size: 12px;
    color: #000;
    text-align: center;
    margin-bottom: 0px;
    .SFProDisplayRegular
}
.discount-title, .newItems-title {
    text-transform: uppercase;
    margin-left: 10px;
}

@media screen and (max-width: 1920px) {
    .content {
        padding: 0 5% 0 0;
    }
    .fluid-content {
        & > div, & > section {
            padding: 30px 6% 30px 0;
        }
    }
    .blog-news, .about-us {
        & > .blog-news-wrap, & > .about-us-wrap {
            padding: 30px 5% 30px 0;
        }
    }
}

@media screen and (max-width: 1560px) {
    .advantages {
        & > .advantages-wrap {
            & > .advantages-list {
                & > .advantages-item {
                    margin: 0 50px;
                }
            }
        }
    }
}

@media screen and (max-width: 1280px) {
    .content {
        padding: 0 2% 0 0;
    }
    .fluid-content {
        & > div, & > section {
            padding: 30px 3% 30px 0;
        }
    }
    .blog-news, .about-us, .advantages {
        & > .blog-news-wrap, & > .about-us-wrap, & > .advantages-wrap {
            padding: 30px 3% 30px 0;
            & > .advantages-list {
                & > .advantages-item {
                    margin: 0 30px;
                    & > .advantages-link {
                        & > .advantages-icon {
                            width: 100px;
                            max-width: 100px
                        }
                    }
                }
            }
            & > .blog-news-body {
                & > .blog-news-item {
                    & > .blog-news-wrap {
                        flex-flow: column;
                        & > .blog-news-image {
                            height: 140px;
                            max-height: 140px;
                            flex: 0 0 100%;
                            max-width: 100%;
                        }
                        & > .blog-news-details {
                            flex: 0 0 100%;
                            max-width: 100%;
                            position: unset;
                            padding: 0;
                            margin-top: 20px;
                            & > .blog-news-details-header, & > .blog-news-details-body {
                                margin-bottom: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 860px) {
    .content {
        display: none;
    }
    .fluid-content {
        display: none;
    }
    .categories, .discount-and-newItems, .mobile-app {
        display: block;
    }
    .content.content-slider {
        display: flex;
        padding: 0;
        & > .carousel {
            flex: 0 0 100%;
            min-width: 100%;
        }
    }
}

@media screen and (max-width: 650px) {
    .content.content-slider {
        & > .carousel {
            & > .carousel-inner {
                height: 180px;
                max-height: 180px;
            }
        }
    }
}
