@font-face {
  font-family: HelveticaNeueCyr;
  src: url("../fonts/HelveticaNeueCyr-Bold.ttf");
  src: url("../fonts/HelveticaNeueCyr-Roman.ttf");
}
@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SFProDisplay-Bold.ttf");
  src: url("../fonts/SFProDisplay-Regular.ttf");
}
.HelveticaNeueCyrBold {
  font-family: HelveticaNeueCyr;
  font-weight: bold;
}
.HelveticaNeueCyrRoman {
  font-family: HelveticaNeueCyr;
  font-weight: normal;
}
.SFProDisplayBold {
  font-family: "SF Pro Display";
  font-weight: bold;
}
.SFProDisplayRegular {
  font-family: "SF Pro Display";
  font-weight: normal;
}
.catalog {
  padding: 0 15px;
}
.catalog-positions .row {
  margin: 0;
}
.catalog-product-wrap {
  padding: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.catalog-product-wrap:nth-child(2n + 1) {
  border-right: 1px solid rgba(0, 0, 0, 0.15);
  padding-right: 15px;
}
.catalog-product-wrap:nth-child(2n) {
  padding-left: 15px;
}
.catalog-product-item-header {
  width: 100%;
  padding: 20px 0 0 0;
}
.catalog-product-item-header .product-img-shortcut {
  margin-bottom: 20px;
}
.catalog-product-item-header h2 {
  font-size: 14px;
  color: #000;
  font-family: "SF Pro Display";
  font-weight: normal;
  text-align: left;
}
.catalog-product-item-price {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 10px;
}
.catalog-product-item-price h3 {
  font-family: "SF Pro Display";
  font-weight: normal;
  font-size: 12px;
  color: #858585;
  text-decoration: line-through;
  margin-bottom: 5px;
}
.catalog-product-item-price h4 {
  font-family: "SF Pro Display";
  font-weight: bold;
  color: #000000;
  font-size: 16px;
  margin: 0;
}
.catalog-product-item-price .add-to-cart-btn {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #51c878;
  border: 1px solid #51c878;
  border-radius: 5px;
}
.catalog-product-item-price .add-to-cart-btn.active {
  background-color: transparent;
}
.catalog-product-item-price .add-to-cart-btn svg.sailing {
  height: 19px;
  display: block;
  stroke: #fff;
}
.catalog-product-item-price .add-to-cart-btn.active svg.sailing {
  height: 19px;
  display: none;
}
.catalog-product-item-price .add-to-cart-btn svg.sailed {
  height: 24px;
  display: none;
}
.catalog-product-item-price .add-to-cart-btn.active svg.sailed {
  height: 20px;
  width: 20px;
  display: block;
  stroke: #51c878;
  fill: none;
  -webkit-text-stroke-width: 2px;
  stroke-width: 2px;
}
.catalog-product-item-rate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
}
.rate-stars-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
  margin-bottom: 0px;
}
.rate-star {
  height: 10px;
  width: 10px;
  margin: 0 1px;
  display: flex;
}
.rate-star > svg {
  stroke: #ffc600;
  height: 10px;
  width: 10px;
}
.rate-star.fill > svg {
  fill: #ffc600;
}
.feedbacks {
  font-family: "SF Pro Display";
  font-weight: normal;
  font-size: 10px;
  color: #858585;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
/*# sourceMappingURL=more-position.css.map */