@import './fonts';
@import './colors';

.router {
    width: 100%;
    padding: 5px 0 10px 0;
}
.router-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    list-style-type: none;
    margin: 0;
}
.router-item {
    display: flex;
    align-items: center;
    &::after {
        content: '→';
        color: @grayColor;
        margin: 0 3px;
    }
    &:last-child::after {
        content: none;
    }
}
.router-item .router-link {
    .SFProDisplayBold;
    font-size: 10px;
    color: @secondColor;
    white-space: nowrap;
}
.router-item.active .router-link {
    color: @grayColor;
}
.title-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title {
    font-size: 16px;
    color: #000000;
    .HelveticaNeueCyrBold;
    margin: 5px 0 0 0;
}
.product-counter {
    .SFProDisplayBold;
    font-size: 12px;
    color: @grayColor;
    margin: 0 0 10px 0;
}
.go-back-title-btn {
    height: 25px;
    width: 25px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.07);
}
.go-back-title-btn svg {
    vertical-align: unset;
}
