@import "./root-styles";
@import './page-header-style';
@import './add-to-cart-modal-style';
@import "./more-position";
@import "./product-item-nav";
@import './product-buy-block';

.wrap {
    justify-content: flex-start;
}

.content {
    align-items: center;
    & > .page-header, & > .product-about-section {
        width: 100%;
        max-width: 1605px;
        &.page-header {
            padding-top: 15px;
        }
        & > .product-about-section-header {
            width: 100%;
            padding: 15px 30px;
            background: #fff;
            -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
            & > .product-about-section-header-navigation-list {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                list-style: none;
                margin: 0px;
                & > .product-about-section-header-navigation-item {
                    margin: 0 15px;
                    border-bottom: 1px solid transparent;
                    & > .product-about-section-header-navigation-link {
                        .SFProDisplayRegular;
                        font-size: 18px;
                        color: #000;
                    }
                    &:first-child {
                        margin: 0 15px 0 0;
                    }
                    &.active {
                        border-bottom: 1px solid @thirdColor;
                        & > .product-about-section-header-navigation-link {
                            .SFProDisplayBold;
                        }
                    }
                }
            }
        }
        & > .product-about-section-body {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            background: #fff;
            padding: 30px 40px;
            & > .product-about-section-product-info {
                flex: 0 0 65%;
                max-width: 65%;
            }
            & > .product-about-section-controls-other-info {
                flex: 0 0 35%;
                max-width: 35%;
                & > .buy-section {
                    border: 1px solid @thirdColor;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    border-radius: 5px;
                    padding: 25px 0px;
                    & > .product-info {
                        display: flex;
                        justify-content: space-between;
                        align-items: stretch;
                        margin-bottom: 25px;
                        padding: 0 10px 0 20px;
                        & > .product-info-left-section, & > .product-info-right-section {
                            flex: 0 0 48%;
                            max-width: 48%;
                            display: flex;
                            flex-flow: column;
                            justify-content: space-between;
                            & > .product-availability {
                                .SFProDisplayRegular;
                                font-size: 14px;
                                color: @secondColor;
                                position: relative;
                                padding-left: 10px;
                                margin: 0;
                                &.is-available::before, &.not-available::before {
                                    content: '✔';
                                    color: @thirdColor;
                                    position: absolute;
                                    left: -10px;
                                }
                                &.not-available::before {
                                    content: '✖';
                                    color: #ff5342;
                                }
                            }
                            & > .product-price {
                                & > .price, & > .product-nds-status {
                                    .SFProDisplayRegular;
                                    font-size: 40px;
                                    color: #000;
                                    margin: 0;
                                }
                                & > .product-nds-status {
                                    font-size: 14px;
                                }
                            }
                            & > .product-title {
                                .SFProDisplayRegular;
                                font-size: 13px;
                                color: #000;
                                margin: 0;
                            }
                            & > .product-shortcut-control {
                                display: flex;
                                justify-content: space-between;
                                align-items: flex-end;
                                padding-right: 20px;
                                & > .product-control {
                                    display: flex;
                                    justify-content: flex-start;
                                    align-items: center;
                                    flex: 0 0 50%;
                                    max-width: 50%;
                                    & > .minus-one-btn, & > .current-product-count, & > .plus-one-btn {
                                        width: 30px;
                                        height: 30px;
                                        border: 1px solid @grayColor;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        .SFProDisplayBold;
                                        font-size: 14px;
                                        color: #000;
                                        text-align: center;
                                        &.minus-one-btn {
                                            -webkit-border-radius: 3px 0 0 3px;
                                            -moz-border-radius: 3px 0 0 3px;
                                            border-radius: 3px 0 0 3px;
                                            border-right: 0px;
                                        }
                                        &.plus-one-btn {
                                            -webkit-border-radius: 0 3px 3px 0;
                                            -moz-border-radius: 0 3px 3px 0;
                                            border-radius: 0 3px 3px 0;
                                            border-left: 0px;
                                        }
                                    }
                                }
                                & > .product-shortcut {
                                    flex: 0 0 50%;
                                    width: 100%;
                                    max-width: 50%;
                                    display: flex;
                                    justify-content: flex-end;
                                    align-items: center;
                                    & > img {
                                        max-width: 50px;
                                        height: auto;
                                    }
                                }
                            }
                        }
                    }
                    & > .buy-controls {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 0 20px;
                        & > .buy-product-btn, & > .add-to-cart-btn {
                            flex: 0 0 48%;
                            max-width: 48%;
                            height: 40px;
                            -webkit-border-radius: 5px;
                            -moz-border-radius: 5px;
                            border-radius: 5px;
                            .HelveticaNeueCyrBold;
                            font-size: 18px;
                            border: 1px solid transparent;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            position: relative;
                            &.buy-product-btn {
                                background: @thirdColor;
                                color: #fff;
                                &::before {
                                    content: '';
                                    width: 25px;
                                    height: 25px;
                                    background-image: url("../img/icons/cart.svg");
                                    background-position: center center;
                                    background-size: cover;
                                    background-repeat: no-repeat;
                                    display: block;
                                    margin-right: 5px;
                                }
                            }
                            &.add-to-cart-btn {
                                border: 1px solid @thirdColor;
                                background: #fff;
                                color: @thirdColor
                            }
                        }
                    }
                }
            }
        }
    }
}

&.previously-viewed {
    margin-top: 0!important;
    padding: 30px 155px 55px 155px;
    width: 100%;
    & > .previously-viewed-section {
        max-width: 1590px;
    }
}
.subscribe-to-updates {
    margin-top: 0!important;
}

.carousel {
    padding: 0 15px;
}
.carousel-indicators {
    justify-content: center;
    bottom: -5px;
    margin: 0 10px;
    & > li:first-child{
        margin-left: 0px;
    }
    & > li:last-child {
        margin-right: 0px;
    }
    & > li {
        height: 2px;
        width: 40px;
        background-color: @grayColor;
    }
    & > li.active {
        background-color: @secondColor;
    }
}
.carousel-item {
    padding: 10px 50px;
}
.product-info-after-slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
}
.product-info-after-slider .price, .product-info-after-slider .info {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: column;
}
.product-info-after-slider .info {
    align-items: flex-end;
}
.product-info-after-slider .old-price {
    .SFProDisplayRegular;
    font-size: 12px;
    color: @grayColor;
    text-decoration: line-through;
    margin-bottom: 7px;
}
.product-info-after-slider .current-price {
    .SFProDisplayBold;
    font-size: 20px;
    color: #000;
    display: block;
    background-color: #d3ffd3;
    margin-bottom: 10px;
}
.product-info-after-slider p {
    .SFProDisplayRegular;
    font-size: 10px;
    color: @grayColor;
}
.product-info-after-slider .product-rate-star-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.product-info-after-slider .feedback-count {
    .SFProDisplayRegular;
    font-size: 10px;
    color: @grayColor;
}
.product-info-after-slider .is-available {
    .SFProDisplayRegular;
    color: @secondColor;
    font-size: 10px;
    display: flex;
    &.available::before {
        content: '';
        display: block;
        height: 7px;
        width: 14px;
        border-left: 2px solid @thirdColor;
        border-bottom: 2px solid @thirdColor;
        margin-right: 5px;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
}
.product-description {
    padding: 10px 15px;
    & > h2 {
        .SFProDisplayBold;
        font-size: 14px;
        color: #000;
        margin-bottom: 10px;
        text-transform: uppercase;
    }
    & > p {
        .SFProDisplayRegular;
        font-size: 14px;
        color: #000;
        text-align: left;
    }
}
