@import './colors';

:root {
    --content-height: 100%;
}

*, head, body {
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.wrap {
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    width: 100%;
    background-color: @bodyBackgroundColor;
}
.scroll-disabled {
    overflow: hidden!important;
}

